.page-content {flex-grow: 1; flex: 1 0 auto;}
.containing-element { display: flex; flex-direction: column;}

html, body { height: 100%;}

#content {
  background: #FFFFFF;
  margin: auto;
  margin-top: 15%;
  padding: 60px;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#mapid {
  margin-left:'20%';
  z-index: 2;
  overflow: visible;
  position: absolute;
}

#content input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
}

@media (min-width: 700px) {
  #content {
    width: 50%;
  }
}

#content .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

body {
  background-image: url("../img/ticket-to-ride-cover.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(15, 15, 15, 0.76);
  text-shadow: 2px 2px 8px rgba(29, 29, 29, 0.288);
}

.column {
  width: 45%;
  margin: 4px;
  font-size: 22px;
}

.cardCursor {
   cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px;
}

.cardBank {
  height: 12%;
}

.cardBankHigh {
  height: 15%;
}

.imgBank {
  max-width: 100%;
  height: 100%;
}

.imgBankHigh {
  height: 80%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .card-group>.card:last-child {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
}

@media (min-width: 576px) {
  .card-group>.card:not(:first-child):not(:last-child):not(:only-child) {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
}

@media (min-width: 576px) {
  .card-group>.card:first-child {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 8px 16px;
}

.disableCard {
  background-color: gray;
  opacity: .8;
}