.page-content {
    flex-grow: 1; flex: 1 0 auto;
}

.containing-element { 
    display: flex; flex-direction: column;
}

html, body { 
    height: 100%;
}

#content {
    margin: auto;
    width: 70%;
}

#form {
    width: 30%;
}
