<div style="width: 20%; height: 20%; overflow: auto; background-color: rgba(41, 41, 41, 0.898); text-align: center; left: 80%; top: 80%; color:white; padding:5px; position: absolute;">

    <div v-for="item in chat">
        <p style="font-size: 10px; margin: 0px; text-align:left">{{item.screenName}} : {{item.message}}</p>
    </div>

    <form class="login-form" action="" style="margin-top:5px">
        <div class="form-group">
            <input type="text" class="form-control form-control-sm" placeholder="message" id="chatMessage" v-model="chatMessage">
            <button type="button" class="btn btn-primary btn-sm" @click="sendMessage(chatMessage)">Send</button>
        </div>
    </form>
</div>