<div style="width: 20%; height: 20%; overflow: auto; background-color: rgba(41, 41, 41, 0.898); text-align: center; left: 80%; top: 80%; color:white; padding:5px; position: absolute;">
    <form class="login-form" action="" style="margin-top:5px">
        <div class="form-group">
            <input type="text" class="form-control form-control-sm" placeholder="message" id="chatMessage" v-model="chatMessage" style="display: inline; width: 70%;">
            <button type="button" class="btn btn-primary btn-sm" @click="sendMessage(chatMessage)">Send</button>
        </div>
    </form>
    <div v-for="item in chat.slice().reverse()">
    	<template v-for="(player, playerId, index) in gameState.players">
	        <p v-if="player.screenName == item.playerScreenName" :style="'font-size: 10px; margin: 0px; text-align:left; color: ' + gameState.players[playerId].color">{{item.playerScreenName}} : {{item.message}}</p>
	    </template>
    </div>
</div>