<!-- <div style="width: 70%; height: 70%; background-color: rgba(41, 41, 41, 0.816); text-align: center; position: absolute; top: 80%;"> -->
    <div id="content">
        <h1>Discard Destination Cards</h1>

                <div class="card" v-for="card in gameState.destinationCards">
                        <div class="container">
                          <h5><b>{{card.startCity}} to {{card.endCity}}</b></h5> 
                          <p>Points: {{card.pointValue}}</p> 
                        </div>
                      </div>
            <!-- destination card start city, endCity, pointValue, playerId, completed -->
	</div>
<!-- </div> -->