<div class="page-content" role="main">
  <div id="content">
    <div id="errorMessage" v-if="message" class="alert alert-warning" role="alert">{{message}}</div>
    <h1>Select a Game</h1>
    <div v-for="game in games">
      <div class="card" v-if="Object.keys(game.players).length < 5">
        <div class="card-body">
          <h2>{{game.name}}</h2>
          <p>{{Object.keys(game.players).length}} / 5</p>
          <input type="text" class="form-control" id="inputName" v-model="inputName" placeholder="What would you like your name to be?" style="width: 50%; display: inline-block">
          <button type="button" class="btn btn-primary" @click="joinGame(game.gameId)">Join Game</button>
        </div>
      </div>
       <div class="card" v-else="">
        <div class="card-body">
          <h2>{{game.name}}</h2>
          <p>{{Object.keys(game.players).length}} / 5</p>
          <input type="text" class="form-control" id="inputName" v-model="inputName" placeholder="What would you like your name to be?" style="width: 50%; display: inline-block" disabled>
          <button type="button" class="btn btn-primary" disabled>Join Game</button>
        </div>
      </div>
    </div>
    <input type="text" class="form-control" id="gamename" v-model="gamename" placeholder="Enter a name for your game" style="width: 50%; display: inline-block">
    <button type="button" class="btn btn-primary" @click="createGame(gamename)">Create New Game</button>
  </div>
</div>