<div class="page-content" role="main">
  <div id="content">
    <h1>Select a Game</h1>
    <div v-for="game in games">
      <div class="card">
        <div class="card-body">
          <h2>{{game.gameOwner}}'s Game</h2>
          <p>{{game.players.length}} / 5</p>
          <button type="button" class="btn btn-primary" @click="joinGame(game.gameId)">Join Game</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" @click="createGame('Game Name goes here')">Create New Game</button>
  </div>
</div>