<div style="width: 80%; height: 20%; background-color: rgba(41, 41, 41, 0.816); text-align: center; position: absolute; top: 80%;">
	<div class="card-group">
		<template v-for="(kindObject, kindKey) in gameState.players[clientId].cardBank">
			<div class="card" v-if="kindKey != 'destinationCards'">
				{{kindObject.length}}
		  		<img class="card-img" :src="'./View/img/' + kindKey.replace('Cards', '') + 'Train.jpg'">
		  	</div>
	  	</template>
	  	<div class="card cardCursor" @click="viewDestinationCards()">
	  		{{gameState.players[clientId].cardBank.destinationCards.length}}
			<img class="card-img" src="./View/img/destinationCard.jpg">
		</div>
	</div>
	<viewDestinationCards></viewDestinationCards>
</div>